.contact-form-section{
    background: rgba(8, 6, 110, 0.6) url("/src/assets/houseclear.png") !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed;
    background-size:contain !important;
    background-blend-mode: darken !important;
    background-position: center !important;
}