::placeholder{
    text-align: center !important;
    color: black !important;
    font-weight: bold;
}

.login-bg{
    background:rgba(8, 6, 110, 0.6) url('../../assets/houseclear.png') !important;
    background-position: center !important;
    background-attachment:fixed;
    background-size: cover !important;
    background-blend-mode: darken;
}